

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Reading app</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>  
<div class="bd">
    <div class="left">
        <div id="toggle_left">&#9664;</div>
        <h2>Configurações</h2>
        <form id="configForm">
            <label for="target_lang_select">Estou a estudar:</label>
            <select id="target_lang_select">
                <option value="pt_BR">Português</option>
                <option value="en_US">Inglês</option>
                <option value="de_DE">Alemão</option>
            </select>

            <label for="base_lang_select">Meu idioma nativo é:</label>
            <select id="base_lang_select">
                <option value="pt_BR">Português</option>
                <option value="en_US">Inglês</option>
                <option value="de_DE">Alemão</option>
            </select>

            <label for="base_read_voice">A voz de leitura será:</label> <!--vou martelar mas tem que adicionar dinamicamente depois-->
            <select id="base_read_voice">
                <option value="pt-br">Português</option>
                <option value="en-us">Inglês</option>
                <option value="de">Alemão</option>
            </select>
            
            <input type="submit" value="Mudar definições">
        </form>

        <label for="fileInput">seleciona um arquivo para leitura</label>
        <input type="file" id="fileInput" />

    </div>

    <div class="middle">
        <p><span class="palavra">Eu</span> <span class="palavra">nunca</span> <span class="palavra">guardei</span> <span class="palavra">rebanhos</span> <span class="palavra">,</span></p>
<p><span class="palavra">Mas</span> <span class="palavra">é</span> <span class="palavra">como</span> <span class="palavra">se</span> <span class="palavra">os</span> <span class="palavra">guardasse</span> <span class="palavra">.</span></p>
<p><span class="palavra">Minha</span> <span class="palavra">alma</span> <span class="palavra">é</span> <span class="palavra">como</span> <span class="palavra">um</span> <span class="palavra">pastor</span> <span class="palavra">,</span></p>
<p><span class="palavra">Conhece</span> <span class="palavra">o</span> <span class="palavra">vento</span> <span class="palavra">e</span> <span class="palavra">o</span> <span class="palavra">sol</span></p>
<p><span class="palavra">E</span> <span class="palavra">anda</span> <span class="palavra">pela</span> <span class="palavra">mão</span> <span class="palavra">das</span> <span class="palavra">Estacões</span></p>
<p><span class="palavra">A</span> <span class="palavra">seguir</span> <span class="palavra">e</span> <span class="palavra">a</span> <span class="palavra">olhar</span> <span class="palavra">.</span></p>
<p><span class="palavra">Toda</span> <span class="palavra">a</span> <span class="palavra">paz</span> <span class="palavra">da</span> <span class="palavra">Natureza</span> <span class="palavra">sem</span> <span class="palavra">gente</span></p>
<p><span class="palavra">Vem</span> <span class="palavra">sentar</span> <span class="palavra">se</span> <span class="palavra">a</span> <span class="palavra">meu</span> <span class="palavra">lado</span> <span class="palavra">.</span></p>
<p><span class="palavra">Mas</span> <span class="palavra">eu</span> <span class="palavra">fico</span> <span class="palavra">triste</span> <span class="palavra">como</span> <span class="palavra">um</span> <span class="palavra">pôr</span> <span class="palavra">do</span> <span class="palavra">Sol</span></p>
<p><span class="palavra">Para</span> <span class="palavra">a</span> <span class="palavra">nossa</span> <span class="palavra">imaginação</span> <span class="palavra">,</span></p>
<p><span class="palavra">Quando</span> <span class="palavra">esfria</span> <span class="palavra">no</span> <span class="palavra">fundo</span> <span class="palavra">da</span> <span class="palavra">planície</span></p>
<p><span class="palavra">E</span> <span class="palavra">se</span> <span class="palavra">sente</span> <span class="palavra">a</span> <span class="palavra">noite</span> <span class="palavra">entrada</span></p>
<p><span class="palavra">Como</span> <span class="palavra">uma</span> <span class="palavra">borboleta</span> <span class="palavra">pela</span> <span class="palavra">janela</span> <span class="palavra">.</span></p>
<p></p>
<p><span class="palavra">Mas</span> <span class="palavra">a</span> <span class="palavra">minha</span> <span class="palavra">tristeza</span> <span class="palavra">é</span> <span class="palavra">sossego</span></p>
<p><span class="palavra">Porque</span> <span class="palavra">é</span> <span class="palavra">natural</span> <span class="palavra">e</span> <span class="palavra">justa</span></p>
<p><span class="palavra">E</span> <span class="palavra">é</span> <span class="palavra">o</span> <span class="palavra">que</span> <span class="palavra">deve</span> <span class="palavra">estar</span> <span class="palavra">na</span> <span class="palavra">alma</span></p>
<p><span class="palavra">Quando</span> <span class="palavra">já</span> <span class="palavra">pensa</span> <span class="palavra">que</span> <span class="palavra">existe</span></p>
<p><span class="palavra">E</span> <span class="palavra">as</span> <span class="palavra">mãos</span> <span class="palavra">colhem</span> <span class="palavra">flores</span> <span class="palavra">sem</span> <span class="palavra">ela</span> <span class="palavra">dar</span> <span class="palavra">por</span> <span class="palavra">isso</span> <span class="palavra">.</span></p>
<p></p>
<p><span class="palavra">Com</span> <span class="palavra">um</span> <span class="palavra">ruído</span> <span class="palavra">de</span> <span class="palavra">chocalhos</span></p>
<p><span class="palavra">Para</span> <span class="palavra">além</span> <span class="palavra">da</span> <span class="palavra">curva</span> <span class="palavra">da</span> <span class="palavra">estrada</span> <span class="palavra">,</span></p>
<p><span class="palavra">Os</span> <span class="palavra">meus</span> <span class="palavra">pensamentos</span> <span class="palavra">são</span> <span class="palavra">contentes</span> <span class="palavra">.</span></p>
<p><span class="palavra">Só</span> <span class="palavra">tenho</span> <span class="palavra">pena</span> <span class="palavra">de</span> <span class="palavra">saber</span> <span class="palavra">que</span> <span class="palavra">eles</span> <span class="palavra">são</span> <span class="palavra">contentes</span> <span class="palavra">,</span></p>
<p><span class="palavra">Porque</span> <span class="palavra">,</span> <span class="palavra">se</span> <span class="palavra">o</span> <span class="palavra">não</span> <span class="palavra">soubesse</span> <span class="palavra">,</span></p>
<p><span class="palavra">Em</span> <span class="palavra">vez</span> <span class="palavra">de</span> <span class="palavra">serem</span> <span class="palavra">contentes</span> <span class="palavra">e</span> <span class="palavra">tristes</span> <span class="palavra">,</span></p>
<p><span class="palavra">Seriam</span> <span class="palavra">alegres</span> <span class="palavra">e</span> <span class="palavra">contentes</span> <span class="palavra">.</span></p>
<p></p>
<p><span class="palavra">Pensar</span> <span class="palavra">incomoda</span> <span class="palavra">como</span> <span class="palavra">andar</span> <span class="palavra">à</span> <span class="palavra">chuva</span></p>
<p><span class="palavra">Quando</span> <span class="palavra">o</span> <span class="palavra">vento</span> <span class="palavra">cresce</span> <span class="palavra">e</span> <span class="palavra">parece</span> <span class="palavra">que</span> <span class="palavra">chove</span> <span class="palavra">mais</span> <span class="palavra">.</span></p>
<p></p>
<p><span class="palavra">Não</span> <span class="palavra">tenho</span> <span class="palavra">ambições</span> <span class="palavra">nem</span> <span class="palavra">desejos</span> <span class="palavra">.</span></p>
<p><span class="palavra">Ser</span> <span class="palavra">poeta</span> <span class="palavra">não</span> <span class="palavra">é</span> <span class="palavra">uma</span> <span class="palavra">ambição</span> <span class="palavra">minha</span> <span class="palavra">.</span></p>
<p><span class="palavra">É</span> <span class="palavra">a</span> <span class="palavra">minha</span> <span class="palavra">maneira</span> <span class="palavra">de</span> <span class="palavra">estar</span> <span class="palavra">sozinho</span> <span class="palavra">.</span></p>
<p></p>
<p><span class="palavra">E</span> <span class="palavra">se</span> <span class="palavra">desejo</span> <span class="palavra">às</span> <span class="palavra">vezes</span> <span class="palavra">,</span></p>
<p><span class="palavra">Por</span> <span class="palavra">imaginar</span> <span class="palavra">,</span> <span class="palavra">ser</span> <span class="palavra">cordeirinho</span></p>
<p><span class="palavra">Ou</span> <span class="palavra">ser</span> <span class="palavra">o</span> <span class="palavra">rebanho</span> <span class="palavra">todo</span></p>
<p><span class="palavra">Para</span> <span class="palavra">andar</span> <span class="palavra">espalhado</span> <span class="palavra">por</span> <span class="palavra">toda</span> <span class="palavra">a</span> <span class="palavra">encosta</span></p>
<p><span class="palavra">A</span> <span class="palavra">ser</span> <span class="palavra">muita</span> <span class="palavra">coisa</span> <span class="palavra">feliz</span> <span class="palavra">ao</span> <span class="palavra">mesmo</span> <span class="palavra">tempo</span> <span class="palavra">,</span></p>
<p><span class="palavra">É</span> <span class="palavra">só</span> <span class="palavra">porque</span> <span class="palavra">sinto</span> <span class="palavra">o</span> <span class="palavra">que</span> <span class="palavra">escrevo</span> <span class="palavra">ao</span> <span class="palavra">pôr</span> <span class="palavra">do</span> <span class="palavra">Sol</span></p>
<p><span class="palavra">Ou</span> <span class="palavra">quando</span> <span class="palavra">uma</span> <span class="palavra">nuvem</span> <span class="palavra">passa</span> <span class="palavra">a</span> <span class="palavra">mão</span> <span class="palavra">por</span> <span class="palavra">cima</span> <span class="palavra">da</span> <span class="palavra">luz</span></p>
<p><span class="palavra">E</span> <span class="palavra">corre</span> <span class="palavra">um</span> <span class="palavra">silêncio</span> <span class="palavra">pela</span> <span class="palavra">erva</span> <span class="palavra">fora</span> <span class="palavra">.</span></p>
<p></p>
<p><span class="palavra">Quando</span> <span class="palavra">me</span> <span class="palavra">sento</span> <span class="palavra">a</span> <span class="palavra">escrever</span> <span class="palavra">versos</span></p>
<p><span class="palavra">Ou</span> <span class="palavra">,</span> <span class="palavra">passeando</span> <span class="palavra">pelos</span> <span class="palavra">caminhos</span> <span class="palavra">ou</span> <span class="palavra">pelos</span> <span class="palavra">atalhos</span> <span class="palavra">,</span></p>
<p><span class="palavra">Escrevo</span> <span class="palavra">versos</span> <span class="palavra">num</span> <span class="palavra">papel</span> <span class="palavra">que</span> <span class="palavra">está</span> <span class="palavra">no</span> <span class="palavra">meu</span> <span class="palavra">pensamento</span> <span class="palavra">,</span></p>
<p><span class="palavra">Sinto</span> <span class="palavra">um</span> <span class="palavra">cajado</span> <span class="palavra">nas</span> <span class="palavra">mãos</span></p>
<p><span class="palavra">E</span> <span class="palavra">vejo</span> <span class="palavra">um</span> <span class="palavra">recorte</span> <span class="palavra">de</span> <span class="palavra">mim</span></p>
<p><span class="palavra">No</span> <span class="palavra">cimo</span> <span class="palavra">dum</span> <span class="palavra">outeiro</span> <span class="palavra">,</span></p>
<p><span class="palavra">Olhando</span> <span class="palavra">para</span> <span class="palavra">o</span> <span class="palavra">meu</span> <span class="palavra">rebanho</span> <span class="palavra">e</span> <span class="palavra">vendo</span> <span class="palavra">as</span> <span class="palavra">minhas</span> <span class="palavra">ideias</span> <span class="palavra">,</span></p>
<p><span class="palavra">Ou</span> <span class="palavra">olhando</span> <span class="palavra">para</span> <span class="palavra">as</span> <span class="palavra">minhas</span> <span class="palavra">ideias</span> <span class="palavra">e</span> <span class="palavra">vendo</span> <span class="palavra">o</span> <span class="palavra">meu</span> <span class="palavra">rebanho</span> <span class="palavra">,</span></p>
<p><span class="palavra">E</span> <span class="palavra">sorrindo</span> <span class="palavra">vagamente</span> <span class="palavra">como</span> <span class="palavra">quem</span> <span class="palavra">não</span> <span class="palavra">compreende</span> <span class="palavra">o</span> <span class="palavra">que</span> <span class="palavra">se</span> <span class="palavra">diz</span></p>
<p><span class="palavra">E</span> <span class="palavra">quer</span> <span class="palavra">fingir</span> <span class="palavra">que</span> <span class="palavra">compreende</span> <span class="palavra">.</span></p>
<p></p>
<p><span class="palavra">Saúdo</span> <span class="palavra">todos</span> <span class="palavra">os</span> <span class="palavra">que</span> <span class="palavra">me</span> <span class="palavra">lerem</span> <span class="palavra">,</span></p>
<p><span class="palavra">Tirando</span> <span class="palavra">lhes</span> <span class="palavra">o</span> <span class="palavra">chapéu</span> <span class="palavra">largo</span></p>
<p><span class="palavra">Quando</span> <span class="palavra">me</span> <span class="palavra">vêem</span> <span class="palavra">à</span> <span class="palavra">minha</span> <span class="palavra">porta</span></p>
<p><span class="palavra">Mal</span> <span class="palavra">a</span> <span class="palavra">diligência</span> <span class="palavra">levanta</span> <span class="palavra">no</span> <span class="palavra">cimo</span> <span class="palavra">do</span> <span class="palavra">outeiro</span> <span class="palavra">.</span></p>
<p><span class="palavra">Saúdo</span> <span class="palavra">os</span> <span class="palavra">e</span> <span class="palavra">desejo</span> <span class="palavra">lhes</span> <span class="palavra">sol</span></p>
<p><span class="palavra">E</span> <span class="palavra">chuva</span> <span class="palavra">,</span> <span class="palavra">quando</span> <span class="palavra">a</span> <span class="palavra">chuva</span> <span class="palavra">é</span> <span class="palavra">precisa</span> <span class="palavra">,</span></p>
<p><span class="palavra">E</span> <span class="palavra">que</span> <span class="palavra">as</span> <span class="palavra">suas</span> <span class="palavra">casas</span> <span class="palavra">tenham</span></p>
<p><span class="palavra">Ao</span> <span class="palavra">pé</span> <span class="palavra">duma</span> <span class="palavra">janela</span> <span class="palavra">aberta</span></p>
<p><span class="palavra">Uma</span> <span class="palavra">cadeira</span> <span class="palavra">predilecta</span></p>
<p><span class="palavra">Onde</span> <span class="palavra">se</span> <span class="palavra">sentem</span> <span class="palavra">,</span> <span class="palavra">lendo</span> <span class="palavra">os</span> <span class="palavra">meus</span> <span class="palavra">versos</span> <span class="palavra">.</span></p>
<p><span class="palavra">E</span> <span class="palavra">ao</span> <span class="palavra">lerem</span> <span class="palavra">os</span> <span class="palavra">meus</span> <span class="palavra">versos</span> <span class="palavra">pensem</span></p>
<p><span class="palavra">Que</span> <span class="palavra">sou</span> <span class="palavra">qualquer</span> <span class="palavra">coisa</span> <span class="palavra">natural</span></p>
<p><span class="palavra">Por</span> <span class="palavra">exemplo</span> <span class="palavra">,</span> <span class="palavra">a</span> <span class="palavra">árvore</span> <span class="palavra">antiga</span></p>
<p><span class="palavra">À</span> <span class="palavra">sombra</span> <span class="palavra">da</span> <span class="palavra">qual</span> <span class="palavra">quando</span> <span class="palavra">crianças</span></p>
<p><span class="palavra">Se</span> <span class="palavra">sentavam</span> <span class="palavra">com</span> <span class="palavra">um</span> <span class="palavra">baque</span> <span class="palavra">,</span> <span class="palavra">cansados</span> <span class="palavra">de</span> <span class="palavra">brincar</span> <span class="palavra">,</span></p>
<p><span class="palavra">E</span> <span class="palavra">limpavam</span> <span class="palavra">o</span> <span class="palavra">suor</span> <span class="palavra">da</span> <span class="palavra">testa</span> <span class="palavra">quente</span></p>
<p><span class="palavra">Com</span> <span class="palavra">a</span> <span class="palavra">manga</span> <span class="palavra">do</span> <span class="palavra">bibe</span> <span class="palavra">riscado</span> <span class="palavra">.</span></p>
    </div>

       <div class="right">
        <div class="actions">
            <h1>Ações</h1>
            <p class="actions_status"></p>
            <p class="actions_sugestoes"></p>
        </div>
        <div class="Ortografia">
            <h1>Ortografia</h1>
            <p class="Ortografia_status"></p>
            <p class="Ortografia_sugestoes"></p>
        </div>
        <div class="translation">
            <h1>Traduções</h1>
            <p class="translation_status"></p>
            <p class="translation_sugestoes"></p>
        </div>
        <div class="definition">
            <h1>Sinônimo(s)</h1>
            <p class="definition_status"></p>
            <h2>Definição(oes)</h2>
            <p class="definition_sugestoes"></p>
        </div>
    </div>
</div>


<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>

