

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Reading app</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>  
     <header class="app-header">
        <div class="header-left">
            <a href="{{ url_for('index') }}" class="back-btn">&#8592; Voltar</a>
        </div>
        <div class="header-center">
            <h1>Reading App</h1>
        </div>
    </header>
<div class="bd">
       


    <div class="left">
        <div id="toggle_left">&#9664;</div>
        <h2>Configurações</h2>
        <form id="configForm">
            <label for="target_lang_select">Estou a estudar:</label>
            <select id="target_lang_select">
                <option value="pt_BR">Português</option>
                <option value="en_US">Inglês</option>
                <option value="de_DE">Alemão</option>
            </select>

            <label for="base_lang_select">Meu idioma nativo é:</label>
            <select id="base_lang_select">
                <option value="pt_BR">Português</option>
                <option value="en_US">Inglês</option>
                <option value="de_DE">Alemão</option>
            </select>

            <label for="base_read_voice">A voz de leitura será:</label> <!--vou martelar mas tem que adicionar dinamicamente depois-->
            <select id="base_read_voice">
                <option value="pt-br">Português</option>
                <option value="en-us">Inglês</option>
                <option value="de">Alemão</option>
            </select>
            
            <input type="submit" value="Mudar definições">
        </form>

        <label for="fileInput">seleciona um arquivo para leitura</label>
        <input type="file" id="fileInput" />

    </div>

    <div class="middle">
    <h2>Ficheiros disponíveis:</h2>

        <ul>
        {% for arquivo in arquivos %}
            <li>
            <a href="{{ url_for('ver_template', nome=arquivo) }}">
                {{ arquivo }}
            </a>
            </li>
        {% endfor %}
        </ul>

    </div>
    <div class="middle">   </div>

    <footer class="app-footer">
    <p>© 2026 Reading App • Desenvolvido por mim com ajuda do gpt</p>
    </footer>
<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>

